<div>
  <img src="http://bluemandle2.com/~hive/assets/images/assam-logo.png">
</div>

<div>
  <img src="http://bluemandle2.com/~hive/assets/images/biblioteca-logo.png">
</div>

<div>
  <h1>{{mockTitle}}</h1>
  <h3>{{mockSubtitle}}</h3>
</div>

<div>

  <nav>

    <ul>

      <li>

        <ul>
          <li><a routerLink="/main" routerLinkActive="active">HOME</a></li>
          <li><a routerLink="/original" routerLinkActive="active">ORIGINAL SCAN</a></li>
          <li><a routerLink="/digital" routerLinkActive="active" class="mock-active">DIGITAL PDF</a></li>
          <li><a routerLink="/working" routerLinkActive="active">WORKING DOCUMENT</a></li>
          <li><a routerLink="/final" routerLinkActive="active">FINAL DOCUMENT</a></li>
        </ul>

      </li>

      <li>

        <ul>
          <li><a routerLink="/forum" routerLinkActive="active">FORUM</a></li>
          <li><a routerLink="/presentation" routerLinkActive="active">PRESENTATION</a></li>
        </ul>

      </li>



    </ul>


  </nav>
</div>

<div class="hive-doc-container">
  <iframe src="http://www.documentacatholicaomnia.eu/02m/0339-0397,_Ambrosius,_De_Tobia_Liber_Unus,_MLT.pdf"></iframe>
</div>





