<app-bar [navMenu]="navMenu" class="mat-elevation-z16"></app-bar>

<button type="button" mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>

<mat-sidenav-container class="mat-typography">


    <mat-sidenav #sidenav>

        <mat-nav-list>

            <a *ngFor="let item of navMenu" [routerLink]="item.routerLink" routerLinkActive="active" (click)="sidenav.toggle()">{{item.title}}</a>

        </mat-nav-list>

    </mat-sidenav>


    <router-outlet></router-outlet>



</mat-sidenav-container>

<div class="spacer"></div>

<app-footer></app-footer>