.container {
    background: url("http://bluemandle2.com/~hive/assets/images/primary-background.png");
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}

.welcome {  padding: 100px 0;  }

.search-container {
    padding: 144px 0 96px 0;
}


img {
    margin-top: 24px;
}

button { background: #BE3620; border-radius: 0;}

input {
    width: 50%;
    height: 20px;
    margin: 0 0 12px 0;
}

a {
    text-decoration: none;
    color: #fff;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

a:hover {
    color: #94552A;
}


